// Variables to set
// HUE for your window bg
$primary: $pink;
$titlebar: ($pink, $red, $orange);
$pixelSize: 1px;
// icon scaling
$winUISize: 2px;

// Calculate stuff
$hue: hue($primary);
$saturation: saturation($primary);
$win-bg: hsl($hue, 30%, 80%);
$highlight1: #fff;
//L: 87 #dfdfdf;
$highlight2: hsl($hue, 15%, 85%);
//L: 50 grey;
$shadow1: hsl($hue, 25%, 50%);
//L: 4 #0a0a0a;
$shadow2: hsl($hue, 25%, 20%);

::root {
  --hue: #{$hue};
  --saturation: #{$saturation};
}

@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(../Nintendo-DS-BIOS.ttf);
}

@function pixel($size) {
  @return ($size * $pixelSize);
}

@mixin bevel() {
  box-shadow: inset pixel(-1) pixel(-1) $shadow2,
    inset pixel(1) pixel(1) $highlight1, inset pixel(-2) pixel(-2) $shadow1,
    inset pixel(2) pixel(2) $highlight2;
}

@mixin inset() {
  box-shadow: inset pixel(-1) pixel(-1) $highlight1,
    inset pixel(1) pixel(1) $shadow1, inset pixel(-1) pixel(-1) $highlight2,
    inset pixel(2) pixel(2) $shadow2;
}

@mixin buttoninset() {
  box-shadow: inset pixel(-1) pixel(-1) $highlight1,
    inset pixel(1) pixel(1) $shadow2, inset pixel(-1) pixel(-1) $highlight2,
    inset pixel(2) pixel(2) $shadow1;
}

@mixin linear-gradient($direction, $colour-stops...) {
  background: nth(nth($colour-stops, 1), 1);
  background: linear-gradient($direction, $colour-stops);
}



.title-bar,
button,
input,
label,
option,
select,
textarea,
ul.tree-view,
.tags a {
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "Nintendo DS BIOS", Arial;
  font-size: 24px;
  font-weight: normal;
}

.article-content {
  display: block;
  // background: $background;
  @include inset();
  padding: 6px;
  margin: 0;
}

button {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: $win-bg;
  @include bevel();
  min-width: 75px;
  min-height: 23px;
  // padding: 0 12px;
  &.read-more {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 2px 11px 0 13px;
    &:hover {
      cursor: pointer;
    }
  }
}

button:not(:disabled):active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}
button::-moz-focus-inner {
  border: 0;
}
:disabled,
:disabled + label {
  color: grey;
}
:disabled + label,
button:disabled {
  text-shadow: 1px 1px 0 #fff;
}
// WINDOW CONTENT ---------------------------------
.window {
  @include bevel();
  background: $win-bg;
  padding: 3px;
  & .article-content,
  .window-body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// TITLE BAR --------------------------------------
.title-bar {
  @include linear-gradient(90deg, $titlebar);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.inactive {
    background: linear-gradient(90deg, grey, #b5b5b5);
  }
}

.title-bar-text {
  font-weight: normal;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem;
  }
}
.title-bar-controls {
  display: flex;
  align-self: flex-start;
}

$pixelSize: $winUISize;
.title-bar-controls .fake-button {
  padding: 0;
  display: block;
  background: $win-bg;
  min-width: pixel(16);
  min-height: pixel(14);
  @include bevel();
}

.fake-button:active {
  @include buttoninset();
  // padding: 2px 11px 0 13px;
}

.title-bar-controls button:active {
  padding: 0;
}
.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls [data-label="Minimize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom pixel(3) left pixel(4);
  background-size: pixel(6) pixel(2);
}
.title-bar-controls [data-label="Maximize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top pixel(2) left pixel(3);
  background-size: pixel(9) pixel(9);
}
.title-bar-controls [data-label="Restore"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top pixel(2) left pixel(3);
  background-size: pixel(8) pixel(9);
}
.title-bar-controls [data-label="Help"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 1h2v2H0zM1 0h4v1H1zM4 1h2v2H4zM3 3h2v1H3zM2 4h2v2H2zM2 7h2v2H2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top pixel(2) left pixel(5);
  background-size: pixel(6) pixel(9);
}
.title-bar-controls [data-label="Close"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top pixel(3) left pixel(4);
  background-size: pixel(8) pixel(7);
}

// TREE VIEW ------------------------------------
ul.tree-view {
  display: block;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  padding: 6px;
  margin: 0;
  & li {
    list-style-type: none;
  }
}

// ul.tree-view a:focus {
//   background-color: $primary;
//   color: #fff;
// }
// ul.tree-view li,
// ul.tree-view ul {
//   margin-top: 3px;
// }
ul.tree-view ul {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted grey;
}
ul.tree-view ul > li {
  position: relative;
}
ul.tree-view ul > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted grey;
}
ul.tree-view ul > li:last-child:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0;
  width: 8px;
  background: #fff;
}
ul.tree-view details {
  margin-top: 0;
}
ul.tree-view details[open] summary {
  margin-bottom: 0;
}
ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}
ul.tree-view details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid grey;
  width: 8px;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}
ul.tree-view details[open] > summary:before {
  content: "-";
}

.latest-posts {
  & a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5rem;
    padding-left: 1rem;
    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }
  }
  & ul.tree-view li,
  & ul.tree-view {
    // margin-top: 3px;
    margin: 0;
    padding: 0;
  }
  // & ul.tree-view li {
  //   padding-left: 1rem;
  // }
}

// DROPUP -------------------------------------------------------------
$pixelSize: 1px;
$btn-font: 16px;
$btn-height: 32px;
$btn-width: 100px;
.dropbtn {
  position:fixed;
  bottom: pixel(2);
  left: pixel(2);
  background-color: $orange;
  color: white;
  padding: 0;
  font-size: $btn-font;
  border: none;
  height: $btn-height;
  width: $btn-width;
  z-index: 1;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  width: $btn-width;
  position: fixed;
  background-color: #f1f1f1;
  left: 0px;
  bottom: calc(#{$btn-height} + 2px);
  z-index: 2;
  & a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: $primary;
      color: $light;
    }
  }
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
  inset -2px -2px #dfdfdf, inset 2px 2px grey;
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.taskbar {
  background-color: $win-bg;
  width: 100%;
  height: calc(#{$btn-height} + 4px);
  position: fixed;
  bottom: 0;
  left: 0;
  // @include bevel();
  border-top: pixel(2) solid $highlight2;

}

.time {
  background-color: $win-bg;
  color: $dark;
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: calc(#{$btn-height} - #{pixel(2)});
  width: calc(#{$btn-width} - #{pixel(2)});
  display: flex;
  align-items: center;
  justify-content: center;
  @include inset();
}

// extra space
.footer {
  min-height: 50px;
}