@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Space Grotesk", Helvetica, sans-serif;
  color: #010101;
  background-color: #fefefe;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 95vh;
}

.yuan-head {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  position: absolute;
}

.yuan-img {
  width: 64px;
}

a {
  text-decoration: none;
  color: #ee2299;
}

a:visited {
  color: #f581c5;
}

a:hover {
  color: #ff7700;
  text-decoration: underline;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

/* CANVAS
-----------------------------------------*/
/* Canvas styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: teal;
}

canvas {
  display: block;
}

.window {
  /*  Resize window to canvas size  */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 5rem;
}

body {
  /*  Centre window to the middle of the screen  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

::root {
  --hue: 325deg;
  --saturation: 85.71429%;
}

@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(../Nintendo-DS-BIOS.ttf);
}

.title-bar,
button,
input,
label,
option,
select,
textarea,
ul.tree-view,
.tags a {
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "Nintendo DS BIOS", Arial;
  font-size: 24px;
  font-weight: normal;
}

.article-content {
  display: block;
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
  padding: 6px;
  margin: 0;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: #dbbdcf;
  -webkit-box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
          box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
  min-width: 75px;
  min-height: 23px;
}

button.read-more {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 2px 11px 0 13px;
}

button.read-more:hover {
  cursor: pointer;
}

button:not(:disabled):active {
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

button::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label {
  color: grey;
}

:disabled + label,
button:disabled {
  text-shadow: 1px 1px 0 #fff;
}

.window {
  -webkit-box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
          box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
  background: #dbbdcf;
  padding: 3px;
}

.window .article-content,
.window .window-body {
  margin-left: 1rem;
  margin-right: 1rem;
}

.title-bar {
  background: #ee2299;
  background: -webkit-gradient(linear, left top, right top, from(#ee2299), color-stop(#ff1111), to(#ff7700));
  background: linear-gradient(90deg, #ee2299, #ff1111, #ff7700);
  padding: 3px 2px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-bar.inactive {
  background: -webkit-gradient(linear, left top, right top, from(grey), to(#b5b5b5));
  background: linear-gradient(90deg, grey, #b5b5b5);
}

.title-bar-text {
  font-weight: normal;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-text > h1,
.title-bar-text h2,
.title-bar-text h3,
.title-bar-text h4,
.title-bar-text h5,
.title-bar-text h6 {
  margin: 0.5rem;
}

.title-bar-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.title-bar-controls .fake-button {
  padding: 0;
  display: block;
  background: #dbbdcf;
  min-width: 32px;
  min-height: 28px;
  -webkit-box-shadow: inset -2px -2px #402635, inset 2px 2px #fff, inset -4px -4px #9f6085, inset 4px 4px #ded3da;
          box-shadow: inset -2px -2px #402635, inset 2px 2px #fff, inset -4px -4px #9f6085, inset 4px 4px #ded3da;
}

.fake-button:active {
  -webkit-box-shadow: inset -2px -2px #fff, inset 2px 2px #402635, inset -2px -2px #ded3da, inset 4px 4px #9f6085;
          box-shadow: inset -2px -2px #fff, inset 2px 2px #402635, inset -2px -2px #ded3da, inset 4px 4px #9f6085;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls [data-label="Minimize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 6px left 8px;
  background-size: 12px 4px;
}

.title-bar-controls [data-label="Maximize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 6px;
  background-size: 18px 18px;
}

.title-bar-controls [data-label="Restore"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 6px;
  background-size: 16px 18px;
}

.title-bar-controls [data-label="Help"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 1h2v2H0zM1 0h4v1H1zM4 1h2v2H4zM3 3h2v1H3zM2 4h2v2H2zM2 7h2v2H2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 10px;
  background-size: 12px 18px;
}

.title-bar-controls [data-label="Close"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 6px left 8px;
  background-size: 16px 14px;
}

ul.tree-view {
  display: block;
  background: #fff;
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
          box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 6px;
  margin: 0;
}

ul.tree-view li {
  list-style-type: none;
}

ul.tree-view ul {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted grey;
}

ul.tree-view ul > li {
  position: relative;
}

ul.tree-view ul > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted grey;
}

ul.tree-view ul > li:last-child:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0;
  width: 8px;
  background: #fff;
}

ul.tree-view details {
  margin-top: 0;
}

ul.tree-view details[open] summary {
  margin-bottom: 0;
}

ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}

ul.tree-view details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid grey;
  width: 8px;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}

ul.tree-view details[open] > summary:before {
  content: "-";
}

.latest-posts a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
}

.latest-posts a:hover, .latest-posts a:focus {
  background-color: #ee2299;
  color: #fff;
}

.latest-posts ul.tree-view li,
.latest-posts ul.tree-view {
  margin: 0;
  padding: 0;
}

.dropbtn {
  position: fixed;
  bottom: 2px;
  left: 2px;
  background-color: #ff7700;
  color: white;
  padding: 0;
  font-size: 16px;
  border: none;
  height: 32px;
  width: 100px;
  z-index: 1;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  width: 100px;
  position: fixed;
  background-color: #f1f1f1;
  left: 0px;
  bottom: calc(32px + 2px);
  z-index: 2;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ee2299;
  color: #fefefe;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.taskbar {
  background-color: #dbbdcf;
  width: 100%;
  height: calc(32px + 4px);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #ded3da;
}

.time {
  background-color: #dbbdcf;
  color: #010101;
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: calc(32px - 2px);
  width: calc(100px - 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
}

.footer {
  min-height: 50px;
}

@media screen and (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.read-more > a {
  text-decoration: none;
  color: #010101;
}
